{% extends 'index.html' %}

{% block title %}
{% endblock %}


{% block content %}
<style>
.flex{
	display: flex;
	flex-wrap: wrap;

	max-width: 1100px; /* макс ширина */
	margin:  auto; /* выровняем по центру */
}

.item{
	flex:1 1 calc( - 10px); /* отнимем margin и скажем растягиваться */
	margin:5px;
	box-sizing:border-box; /* чтобы внутренний отступ не влиял когда там будет текст... */
	min-width:80px; /* мин. ширина блока, чтобы переносились на другой ряд */
	padding:5px ; background:black; /* для красоты */
}
</style>

<div class="alert alert-light mt-2">
    <div class="container">
        <p></p>
        <div class="flex">
            {% for el in book %}
            <div class="item">
                    {% if el.image %}
                        <img src="{{ MEDIA_URL }}{{ el.image.url }}" width="150" height="150">
                    {% endif %}

                    <h5>{{ el.title}}</h5>
                    <p>Автор: {{ el.author }}</p>
                    <p>Цена: {{ el.price }} тг</p>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}